{% load custom_tags %}
<div class="row mb-5 px-2">
    <div class="col-xl-12">
        <!-- Account details card-->
        <div class="card card-header-actions">
            <div class="card-header bg-white">
                <div id="record-title-{{record.id}}">{{ record.primary_field.value }}</div>
                <div class="dropdown no-caret">
                    <button class="btn btn-transparent-dark btn-icon dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-bars"></i></button>
                    <div class="dropdown-menu dropdown-menu-right animated--fade-in-up" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{% url 'edit_record' organization_pk=organization.pk app_pk=app.pk list_pk=list.pk record_pk=record.pk %}">
                            <div class="dropdown-item-icon"><i class="text-gray-500" data-feather="list"></i></div>
                            Edit Record
                        </a>
                        <button
                            data-toggle="modal"
                            data-target="#archive_record_detail_{{record.id}}"
                            class="dropdown-item"
                            href="{% url 'archive_record' organization_pk=organization.pk app_pk=app.pk list_pk=list.pk record_pk=record.pk %}"
                        >
                            <div class="dropdown-item-icon"><i class="text-gray-500" data-feather="list"></i></div>
                            Archive Record
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="archive_record_detail_{{record.id}}" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Are you sure that you want to Archive {{record.list}}?</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-footer">
                            <span
                                class="btn btn-primary archive-record"
                                data-record-detail-id="{{record.pk}}"
                                type="button"
                                data-dismiss="modal"
                                href="{% url 'archive_record' organization_pk=organization.pk app_pk=app.pk list_pk=list.pk record_pk=record.pk %}"
                                data-content-id="{{file.id}}"
                            >
                                Archive
                            </span>
                            <span class="btn btn-light" type="button" data-dismiss="modal">No</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                {% if record.record_fields %} {% for field in record.record_fields %} {% if field.list_field.primary is False %} {% if field.list_field.field_type == "choose-from-list" %}
                <p>
                    <b>{{ field.list_field.field_label }}:</b>
                    {% if field.selected_record.status == 'active' %}
                    <a href="{% url 'record' organization_pk=organization.pk app_pk=app.pk list_pk=list.pk record_pk=field.selected_record.pk %}">
                        <span class="badge badge-primary p-2">{{ field.selected_record.primary_field.value }} </span>
                    </a>
                    {% endif %}
                </p>
                {% elif field.list_field.field_type == "url" %}
                <p><b>{{ field.list_field.field_label }}:</b> <a href="{{ field.value }}" target="_blank">{{ field.value }}</a></p>
                {% elif field.list_field.field_type == "rating" %}
                <p><b>{{ field.list_field.field_label }}:</b></p>
                <div class="rating-show">
                  {% for i in field.value|get_range %}
                    <svg class="active" viewBox="0 -10 511.98685 511" xmlns="http://www.w3.org/2000/svg"><path d="m510.652344 185.902344c-3.351563-10.367188-12.546875-17.730469-23.425782-18.710938l-147.773437-13.417968-58.433594-136.769532c-4.308593-10.023437-14.121093-16.511718-25.023437-16.511718s-20.714844 6.488281-25.023438 16.535156l-58.433594 136.746094-147.796874 13.417968c-10.859376 1.003906-20.03125 8.34375-23.402344 18.710938-3.371094 10.367187-.257813 21.738281 7.957031 28.90625l111.699219 97.960937-32.9375 145.089844c-2.410156 10.667969 1.730468 21.695313 10.582031 28.09375 4.757813 3.4375 10.324219 5.1875 15.9375 5.1875 4.839844 0 9.640625-1.304687 13.949219-3.882813l127.46875-76.183593 127.421875 76.183593c9.324219 5.609376 21.078125 5.097657 29.910156-1.304687 8.855469-6.417969 12.992187-17.449219 10.582031-28.09375l-32.9375-145.089844 111.699219-97.941406c8.214844-7.1875 11.351563-18.539063 7.980469-28.925781zm0 0" /></svg>
                  {% endfor %}
                  {% for i in field.value|get_range_other %}
                    <svg viewBox="0 -10 511.98685 511" xmlns="http://www.w3.org/2000/svg"><path d="m510.652344 185.902344c-3.351563-10.367188-12.546875-17.730469-23.425782-18.710938l-147.773437-13.417968-58.433594-136.769532c-4.308593-10.023437-14.121093-16.511718-25.023437-16.511718s-20.714844 6.488281-25.023438 16.535156l-58.433594 136.746094-147.796874 13.417968c-10.859376 1.003906-20.03125 8.34375-23.402344 18.710938-3.371094 10.367187-.257813 21.738281 7.957031 28.90625l111.699219 97.960937-32.9375 145.089844c-2.410156 10.667969 1.730468 21.695313 10.582031 28.09375 4.757813 3.4375 10.324219 5.1875 15.9375 5.1875 4.839844 0 9.640625-1.304687 13.949219-3.882813l127.46875-76.183593 127.421875 76.183593c9.324219 5.609376 21.078125 5.097657 29.910156-1.304687 8.855469-6.417969 12.992187-17.449219 10.582031-28.09375l-32.9375-145.089844 111.699219-97.941406c8.214844-7.1875 11.351563-18.539063 7.980469-28.925781zm0 0" /></svg>
                  {% endfor %}
                </div>
                {% else %}
                <p><b>{{ field.list_field.field_label }}:</b> {{ field.value |safe}}</p>
                {% endif %} {% endif %} {% endfor %}
                <p class="card-text"> <small class="text-muted">Created : {{record.created_at| date:"M d, Y"}}</small></p>
                <p class="card-text"><small class="text-muted">Created By : {{record.created_user.first_name}}</small></p>
                {% endif %}
            </div>
            <div class="card-footer text-right bg-white">

            </div>
        </div>
    </div>
</div>
<div class="mb-5 px-2 container">
    <div class="mb-3 row no-gutters">
        <div class="col-6">
            <h5 class="ml-3">Files and Uploads</h5>
        </div>
        <div class="col-6">
            <div id="postRecordFile" class="btn btn-primary float-right" action="{% url 'post_record_file' organization.pk app.pk list.pk record.pk %}">
                Add File
            </div>
        </div>
    </div>
    <hr />
    <div id="fileprogress"></div>
    <div id="fileslist" class="row">
        <div id="template-preview" class="d-none"></div>

        {% for file in files %}
        <div id="file-{{file.pk}}" class="col-xl-6 col-lg-6">
            <div class="text-center my-3 card">
                <div class="row card-body">
                    <div style="font-size:0px;" class="{% if file.type == 'F' %}col-10{% else %}col-12{% endif %} card-text text-left">

                    {% if file.type == 'F' %}


                        <span class="d-inline content">
                            <span   style="font-size:16px;" class="d-inline name-of-file">{{file.name_of_file}}</span>
                        </span>
                        <span  style="font-size:16px;"  class="d-inline file-extension">{{file.file_extension}}</span>
                        <div style="font-size:16px;display:none;" class="m-1 error_message text-danger">
                        <ul>
                        <li>The file name should <b>not be empty</b></li>
                        </ul>
                        </div>

                    {% else %}
                    <img src="\media\{{file.thumbnail_source_image}}" class="img-fluid" />
                    {% endif %}


                    </div>
                    {% if file.type == 'F' %}
                    <div class="col-2"><a href="{{file.edit_url}}" data-file-id="{{file.pk}}" class="edit-file btn btn-link">Edit</a></div>
                    {% endif %}

                </div>
                <div class="card-footer bg-white">
                    <button class="btn btn-link float-right" type="button" data-toggle="modal" data-target="#remove-file-{{file.id}}">Remove</button><a class="btn btn-link float-right download" href="{{file.url}}" target="_blank">Download</a>
                </div>
            </div>
        </div>
        <div class="modal fade" id="remove-file-{{file.id}}" tabindex="-1" role="dialog" aria-labelledby="Remove-comment" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Are you sure that you want to remove this?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-footer">
                        <span class="btn btn-danger remove-record-file" type="button" data-dismiss="modal" href="{{file.delete_url}}" data-content-id="{{file.id}}">Confirm</span>
                        <span class="btn btn-light" type="button" data-dismiss="modal">No</span>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="mb-5 px-2 container">
    <h5 class="ml-3">Comments</h5>
    <hr />

    <div class="d-block" id="record_comments">
        {% for comment in comments %}
        <form data-comment-id="{{comment.pk}}" class="edit_comment_form" action="{% url 'edit_record_comment' organization.pk app.pk list.pk record.pk comment.pk %}" method="POST">
            <div class="card my-3" id="comment-{{comment.pk}}" class="card text-center m-3">
                <div class="card-body">
                    <div class="main-change">
                      <p class="card-text"><strong>{{comment.created_user.first_name}}</strong></p>
                      <hr>
                      <div id="comment-content-{{comment.pk}}"class="card-text text-left content">
                          {% autoescape off %} {{comment.content}} {% endautoescape %}
                      </div>
                      <p class="card-text">

                      <small class="text-muted">Created : {{comment.created_at| date:"M d, Y"}}

                      </small>
                    </div>
                </div>
                {% if user == comment.created_user %}
                <div class="card-footer bg-white">
                    <button class="btn btn-link float-right" type="button" data-toggle="modal" data-target="#remove-comment-{{comment.pk}}">Remove</button>
                    <span id="edit-save-{{comment.pk}}">
                        <input type="button" data-comment-id="{{comment.pk}}" href="{{comment.edit_url}}" class="btn btn-link float-right edit-comment edit" value="Edit" />

                        <input type="submit" data-comment-id="{{comment.pk}}" class="btn btn-link float-right save" style="display: none;" value="Save" />
                    </span>
                </div>
                {% endif %}
            </div>
        </form>
        <div class="modal fade" id="remove-comment-{{comment.pk}}" tabindex="-1" role="dialog" aria-labelledby="Remove-comment" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Are you sure that you want to remove the comment?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body">{% autoescape off %}{{comment.content}}{% endautoescape %}</div>
                    <div class="modal-footer">
                        <span class="btn btn-danger remove-record-comment" type="button" data-dismiss="modal" href="{{comment.delete_url}}" data-content-id="{{comment.id}}">Confirm</span>
                        <span class="btn btn-light" type="button" data-dismiss="modal">No</span>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="card p-3">
        <form id="post_record_comment" method="POST" action="{% url 'post_record_comments' organization.pk app.pk list.pk record.pk %}">
            <textarea id="content" class="form-control bg-light mb-3" name="content" type="text" placeholder="Enter a comment here"></textarea><br />
            <div class="text-right"><input class="btn btn-primary" id="post_record_button" type="submit" /></div>
        </form>
    </div>
</div>


<script>
var record_files = $('#fileslist');

function EditFile() {
    var file_edit_mode = false;
    var file_current_edit = null;
    $('.edit-file').on('click', function(ev) {
            ev.preventDefault();
            var file_id = $(this).attr('data-file-id');
            var content_box = $('#file-' + file_id + ' .content');
            var name = $('#file-' + file_id + ' .name-of-file').text();
            if (file_edit_mode == false) {
                if (file_current_edit == null) {
                    $(this).html('Save');
                    $('#file-' + file_id + ' .file-extension').addClass('d-none');
                    $('#file-' + file_id + ' .file-extension').removeClass('d-inline');
                    content_box.html('<input type="text" id="file-edit-' + file_id + '" value="' + name + '" class="bg-light text-dark form-control w-100"/>');
                    file_edit_mode = true;

                    console.log('#file-' + file_id + ' .file-extension');
                    file_current_edit = $(this).attr('data-file-id');
                }
            } else {
                this_file = $(this).attr('data-file-id');
                var new_file_name=$('#file-edit-' + file_id).val();
                if( new_file_name != ''){
                if (this_file == file_current_edit) {
                    edit_url = $(this).attr('href');

                    file_edit_mode = false;
                    file_current_edit = null;
                    $(this).html('Edit');
                    $.post(edit_url, {
                        "content": $('#file-edit-' + file_id).val()
                    }, function(data) {
                        content_box.html('<span   style="font-size:16px;" class="d-inline name-of-file">'+data['content']+'</span>');
                        $('#file-' + file_id + ' .file-extension').removeClass('d-none');
                        $('#file-' + file_id + ' .file-extension').addClass('d-inline');
                        $('#file-' + file_id + ' .error_message').hide();
                        $('#file-' + file_id + ' .download').attr('href',data['file_url'])
                    });
                } }else{
                    console.log('a')
                   $('#file-' + file_id + ' .error_message').show()

                }
            }

        }

    );
}

function getCookie(c_name) {
    var c_value = " " + document.cookie;
    var c_start = c_value.indexOf(" " + c_name + "=");
    if (c_start == -1) {
        c_value = null;
    } else {
        c_start = c_value.indexOf("=", c_start) + 1;
        var c_end = c_value.indexOf(";", c_start);
        if (c_end == -1) {
            c_end = c_value.length;
        }
        c_value = unescape(c_value.substring(c_start, c_end));
    }
    return c_value;
}

Dropzone.autoDiscover = false;

var cookie = document.cookie;
var csrftoken = getCookie('csrftoken');
var post_file_url = $('#postRecordFile').attr('action');

$(function() {
    var myDrop = new Dropzone("div#postRecordFile", {
        url: post_file_url,
        method: "post",
        headers: {
            "csrfmiddlewaretoken": csrftoken
        },
        previewsContainer: null,
        previewTemplate: document.getElementById('fileslist').innerHTML
    });

    myDrop.on("success", function(file, data) {
        data = JSON.parse(data);
        console.log(data);
        var file_div = `<div id="file-${data.id}" class="col-xl-6 col-lg-6">
            <div class="text-center my-3 card">
                <div class="row card-body">
                    <div style="font-size:0px;" class="`+((data.type == 'F') ? 'col-10 ':'col-12 ') + `card-text text-left">`
                    +

                    ((data.type == 'F') ?

                        `<span class="d-inline content">
                            <span   style="font-size:16px;" class="d-inline name-of-file">${data.file_name}</span>
                        </span>
                        <span  style="font-size:16px;"  class="d-inline file-extension">${data.file_extension}</span>
                        <div style="font-size:16px;display:none;" class="m-1 error_message text-danger">
                        <ul>
                        <li>The file name should <b>not be empty</b></li>
                        </ul>
                        </div>` :
                    `<img src='${data.thumbnail}' class="img-fluid" />`
                    )
                    +

        `
                    </div>
         `+((data.type=='F') ?
                    `<div class="col-2"><a href="${data.edit_url}" data-file-id="${data.id}" class="edit-file btn btn-link">Edit</a></div>`
                    : '')
                    +

                `</div>
                <div class="card-footer bg-white">
                    <button class="btn btn-link float-right" type="button" data-toggle="modal" data-target="#remove-file-${data.id}">Remove</button><a class="btn btn-link float-right download" href="${data.file_url}">Download</a>
                </div>
            </div>
        </div>
        <div class="modal fade" id="remove-file-${data.id}" tabindex="-1" role="dialog" aria-labelledby="Remove-comment" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Are you sure that you want to remove this?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-footer">
                        <span class="btn btn-danger remove-record-file" type="button" data-dismiss="modal" href="${data.delete_url}" data-content-id="${file.id}">Confirm</span>
                        <span class="btn btn-light" type="button" data-dismiss="modal">No</span>
                    </div>
                </div>
            </div>
        </div>`;
        record_files.prepend(file_div);
        RemoveContent('.remove-record-file', 'file');
        var progress_bar = '<div style="height:30px;font-size:22px;height:40px" class="progress"><div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">' + "uploaded successfully!" + '</div></div>';
        $('#fileprogress').html(progress_bar);
        EditFile();
    });

    myDrop.on("totaluploadprogress", function(progress) {
        console.log(file, progress, bytesSent);
        var progress_bar = '<div style="height:30px;font-size:22px;height:40px" class="progress"><div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width: ' + progress + '%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">' + parseInt(progress) + '%</div></div>';
        $('#fileprogress').html(progress_bar);
    });

    myDrop.on("queuecomplete", function(file) {
        var progress_bar = '<div style="height:30px;font-size:22px;height:40px" class="progress"><div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">' + "uploaded successfully!" + '</div></div>';
        $('#fileprogress').html(progress_bar);
        setTimeout(function() {
            $('#fileprogress').html('');
        }, 5000);
    });

});


function RemoveContent(className, content) {
    $(className).on('click', function(ev) {
        ev.preventDefault();
        var url = $(this).attr('href');
        var content_id = $(this).attr('data-content-id');
        $.get(url, function(data) {
            console.log(content);
            console.log('#' + content + '-' + content_id);
            var content_box = $('#' + content + '-' + content_id);
            console.log(content_box);
            content_box.remove();
        });
    });
}





$(document).ready(function() {

    $(function() {
        var frm = $('#post_record_comment');
        frm.value = '';
        var record_comments = $('#record_comments');

        frm.submit(function(ev) {
            ev.preventDefault();
            console.log(frm.serialize('content'));

            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }


            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            })


            tinyMCE.triggerSave();


            $.ajax({

                type: frm.attr('method'),
                url: frm.attr('action'),
                data: frm.serialize(),
                headers: {
                    'X-CSRFToken': csrftoken
                },
                success: function(data) {
                    var content = $('#content').val();
                    $('#content').val('');
                    console.log(data);
                    data = JSON.parse(data);
                    var comment_div = `<form data-comment-id="${data.id}" class="edit_comment_form" action="${data.edit_url}" method="POST">
                    <div class="card my-3" id="comment-${data.id}" class="card text-center m-3">
                      <div class="card-body">
                        <div class="main-change">
                          <div id="comment-content-${data.id}" class="card-text text-left content">
                            ${data.content}
                          </div>
                        </div>
                      </div>
                <div class="card-footer bg-white">
                    <button class="btn btn-link float-right" type="button" data-toggle="modal" data-target="#remove-comment-${data.id}">Remove</button>
                    <span id="edit-save-${data.id}">
                        <input type="button" data-comment-id="${data.id}" href="${data.edit_url}" class="btn btn-link float-right edit-comment edit" value="Edit" />
                        <input type="submit" data-comment-id="${data.id}" class="btn btn-link float-right save" style="display: none;" value="Save" />
                    </span>
                </div>
            </div>
        </form>
        <div class="modal fade" id="remove-comment-'+data.id+'" tabindex="-1" role="dialog" aria-labelledby="Remove-comment" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Are you sure that you want to remove the comment?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body">'+data.content+'</div>
                    <div class="modal-footer">
                        <span class="btn btn-danger remove-record-comment" type="button" data-dismiss="modal" href="${data.edit_url}" data-content-id="${data.id}">Confirm</span>
                        <span class="btn btn-light" type="button" data-dismiss="modal">No</span>
                    </div>
                </div>
            </div>
        </div>`;
                    record_comments.append(comment_div);
                    EditPost();
                    RemoveContent('.remove-record-comment', 'comment');
                    tinyMCE.activeEditor.setContent('');
                }
            });
            ev.preventDefault();
        });
    });



    function EditPost() {

        var current_edit = null;
        $('.edit-comment').on('click', function(ev) {
                ev.preventDefault();


                    var comment_id = $(this).attr('data-comment-id');

                var content = $('#comment-' + comment_id + ' .content');
                var content_message = content.text()

                    frm = $('.edit_comment_form');






                        tinyMCE.init({
                            selector: '#comment-' + comment_id + ' .content',
                        });

                        $('#edit-save-' + comment_id + ' .edit').hide();
                        $('#edit-save-' + comment_id + ' .save').show();




            }

        );


        $('.edit_comment_form').on('submit', function(ev) {
                ev.preventDefault();
                tinyMCE.triggerSave();
                var comment_id = $(this).attr('data-comment-id');
                console.log(frm.serialize());

                $.ajax({

                    type: $(this).attr('method'),
                    url: $(this).attr('action'),
                    data: $(this).serialize(),
                    headers: {
                        'X-CSRFToken': csrftoken
                    },
                    success: function(data) {
                        $('#comment-' + comment_id + ' .main-change').html(
                            `<div id="comment-content-${comment_id}" class="card-text text-left content">
                             ${data.content}
                        </div>`);
                        $('#edit-save-' + comment_id + ' .edit').show();
                        $('#edit-save-' + comment_id + ' .save').hide();
                    }
                });



            }



        );
    }

    EditPost();



    EditFile();

    function ArchiveRecord() {
        $('.archive-record').on('click', function(ev) {
            ev.preventDefault();
            var archive_url = $(this).attr('href');
            var record_id = $(this).attr('data-record-detail-id');
            $.get(archive_url, function(data) {
                console.log(data);
                var record = $('#record-title-' + record_id);
                record.append('<span class="text-muted"> (Archived) </span>')
            });
        });
    }
    ArchiveRecord();

    RemoveContent('.remove-record-file', 'file');
    RemoveContent('.remove-record-comment', 'comment');




    if (window.tinymce) {
        $(window.tinymce.editors).each(function(idx, p) {
            window.tinymce.remove(idx);
        });
    }

    tinyMCE.init({
        selector: "#post_record_comment #content",
        content_style: 'body{ font-size:12pt }',
        height:400,
        plugins: 'lists',
        toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | numlist bullist | outdent indent '
    });



});




</script>
