{% load static %}
{% load custom_tags %}
<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
  <div class="container-fluid">
      <div class="page-header-content">
          <div class="row align-items-center justify-content-between pt-3">
              <div class="col-auto mb-3">
                  <h1 class="page-header-title">
                      <div class="page-header-icon"><i data-feather="file"></i></div>
                      Add record in {{ list.name }}
                  </h1>
              </div>
              <div class="col-12 col-xl-auto mb-3">
                  <button class="btn btn-primary py-2" href="javascript:void(0);" onclick="saveRecord();">Save Record</button>
              </div>
          </div>
      </div>
  </div>
</header>
<div class="container">
  <div class="card mb-4">
    <div class="card-body">
      <div class="sbp-preview-content">
        <form id="record-form">
        {% csrf_token %}
            {% for field in fields %}
              {% if field.field_type == 'text' %}
                <div class="form-group">
                  <label for="field_{{ field.field_id }}">{{ field.field_label }}{% if field.required %}*{% endif %}</label>
                  <input class="form-control form-control-solid record-field" id="field_{{ field.field_id }}" data-attr="{{field.field_type}}" type="text" placeholder="Input response here" {% if field.value %}value='{{ field.value }}'{% endif %} {% if field.required %}required{% endif %}>
                </div>
              {% elif field.field_type == 'long-text' %}
                <div class="form-group">
                  <label for="field_{{ field.field_id }}">{{ field.field_label }}{% if field.required %}*{% endif %}</label>
                  <textarea data-type="textarea" data-attr="{{field.field_type}}" class="form-control form-control-solid record-field" id="field_{{ field.field_id }}" rows="3" placeholder="Input response here" {% if field.required %}required{% endif %}>{% if field.value %}{{ field.value }}{% endif %}</textarea>

                <script>
                tinyMCE.init({
                selector : "#field_{{ field.field_id }}",
                content_style: 'body{ font-size:12pt }',
                height:400,
                plugins: 'lists',
                toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | numlist bullist | outdent indent '
                 } );
                 </script>

                </div>
              {% elif field.field_type == 'number' %}
                <div class="form-group">
                  <label for="field_{{ field.field_id }}">{{ field.field_label }}{% if field.required %}*{% endif %}</label>
                  <input class="form-control form-control-solid record-field" id="field_{{ field.field_id }}" data-attr="{{field.field_type}}" type="number" placeholder="Input response here" {% if field.value %}value='{{ field.value }}'{% endif %} {% if field.required %}required{% endif %}>
                </div>
              {% elif field.field_type == 'choose-from-list' %}
              <div class="form-group">
                <label for="field_{{ field.field_id }}">{{ field.field_label }}{% if field.required %}*{% endif %}</label>
                <select class="form-control form-control-solid record-field" id="field_{{ field.field_id }}" data-attr="{{field.field_type}}" {% if field.required %}required{% endif %}>
                  {% if field.value %}
                  {% for id, data in field.select_record %}
                  {% if field.value == data %}
                  <option value="{{id}}" data-value="{{data}}">{{data}}</option>
                  {% endif %}
                  {% endfor %}
                  {% else %}
                  <option value="">------</option>
                  {% endif %}
                  {% for id, data in field.select_record %}
                  {% if field.value != data %}
                  <option value="{{id}}" data-value="{{data}}">{{data}}</option>
                  {% endif %}
                  {% endfor %}
                </select>
              </div>
              {% elif field.field_type == 'date' %}
              <div class="form-group">
                <label for="field_{{ field.field_id }}">{{ field.field_label }}{% if field.required %}*{% endif %}</label>
                <input class="form-control form-control-solid record-field" id="field_{{ field.field_id }}" data-attr="{{field.field_type}}" type="date" {% if field.value %}value='{{ field.value }}'{% endif %} {% if field.required %}required{% endif %}>
              </div>
              {% elif field.field_type == 'url' %}
                <div class="form-group">
                  <label for="field_{{ field.field_id }}">{{ field.field_label }}{% if field.required %}*{% endif %}</label>
                  <input class="form-control form-control-solid record-field" id="field_{{ field.field_id }}" data-attr="{{field.field_type}}" type="url" onblur="return validateUrl(this);" placeholder="Input response here" {% if field.value %}value='{{ field.value }}'{% endif %} {% if field.required %}required{% endif %}>
                </div>
                {% elif field.field_type == 'instructions' %}
                <div class="form-group">
                  <label for="field_{{ field.field_id }}">{{ field.field_label }}{% if field.required %}*{% endif %}</label>
                </div>
                {% elif field.field_type == 'rating' %}
                <div class="form-group mb-0 d-flex justify-content-between align-items-center">
                  <label class="mb-0" for="field_{{ field.field_id }}">{{ field.field_label }}{% if field.required %}*{% endif %}</label>
                  <div class="rating-sec">
                    <input class="record-field ratings chk1" data-rating=1 data-id="{{ field.field_id }}" id="star_one" data-attr="{{field.field_type}}" type="checkbox" {% if field.value %}{% if field.value|star_rating_value:'1' %}checked{% endif %}{% endif %} {% if field.required %}required{% endif %}>
                    <label class="star one" for="star_one">
                      <svg viewBox="0 -10 511.98685 511" xmlns="http://www.w3.org/2000/svg"><path d="m510.652344 185.902344c-3.351563-10.367188-12.546875-17.730469-23.425782-18.710938l-147.773437-13.417968-58.433594-136.769532c-4.308593-10.023437-14.121093-16.511718-25.023437-16.511718s-20.714844 6.488281-25.023438 16.535156l-58.433594 136.746094-147.796874 13.417968c-10.859376 1.003906-20.03125 8.34375-23.402344 18.710938-3.371094 10.367187-.257813 21.738281 7.957031 28.90625l111.699219 97.960937-32.9375 145.089844c-2.410156 10.667969 1.730468 21.695313 10.582031 28.09375 4.757813 3.4375 10.324219 5.1875 15.9375 5.1875 4.839844 0 9.640625-1.304687 13.949219-3.882813l127.46875-76.183593 127.421875 76.183593c9.324219 5.609376 21.078125 5.097657 29.910156-1.304687 8.855469-6.417969 12.992187-17.449219 10.582031-28.09375l-32.9375-145.089844 111.699219-97.941406c8.214844-7.1875 11.351563-18.539063 7.980469-28.925781zm0 0" /></svg>
                    </label>
                    <input class="record-field ratings chk2" data-rating=2 data-id="{{ field.field_id }}" id="star_two" data-attr="{{field.field_type}}" type="checkbox" {% if field.value %}{% if field.value|star_rating_value:'2' %}checked{% endif %}{% endif %} {% if field.required %}required{% endif %}>
                    <label class="star two" for="star_two">
                      <svg viewBox="0 -10 511.98685 511" xmlns="http://www.w3.org/2000/svg"><path d="m510.652344 185.902344c-3.351563-10.367188-12.546875-17.730469-23.425782-18.710938l-147.773437-13.417968-58.433594-136.769532c-4.308593-10.023437-14.121093-16.511718-25.023437-16.511718s-20.714844 6.488281-25.023438 16.535156l-58.433594 136.746094-147.796874 13.417968c-10.859376 1.003906-20.03125 8.34375-23.402344 18.710938-3.371094 10.367187-.257813 21.738281 7.957031 28.90625l111.699219 97.960937-32.9375 145.089844c-2.410156 10.667969 1.730468 21.695313 10.582031 28.09375 4.757813 3.4375 10.324219 5.1875 15.9375 5.1875 4.839844 0 9.640625-1.304687 13.949219-3.882813l127.46875-76.183593 127.421875 76.183593c9.324219 5.609376 21.078125 5.097657 29.910156-1.304687 8.855469-6.417969 12.992187-17.449219 10.582031-28.09375l-32.9375-145.089844 111.699219-97.941406c8.214844-7.1875 11.351563-18.539063 7.980469-28.925781zm0 0" /></svg>
                    </label>
                    <input class="record-field ratings chk3" data-rating=3 data-id="{{ field.field_id }}" id="star_three" data-attr="{{field.field_type}}" type="checkbox" {% if field.value %}{% if field.value|star_rating_value:'3' %}checked{% endif %}{% endif %} {% if field.required %}required{% endif %}>
                    <label class="star three" for="star_three">
                      <svg viewBox="0 -10 511.98685 511" xmlns="http://www.w3.org/2000/svg"><path d="m510.652344 185.902344c-3.351563-10.367188-12.546875-17.730469-23.425782-18.710938l-147.773437-13.417968-58.433594-136.769532c-4.308593-10.023437-14.121093-16.511718-25.023437-16.511718s-20.714844 6.488281-25.023438 16.535156l-58.433594 136.746094-147.796874 13.417968c-10.859376 1.003906-20.03125 8.34375-23.402344 18.710938-3.371094 10.367187-.257813 21.738281 7.957031 28.90625l111.699219 97.960937-32.9375 145.089844c-2.410156 10.667969 1.730468 21.695313 10.582031 28.09375 4.757813 3.4375 10.324219 5.1875 15.9375 5.1875 4.839844 0 9.640625-1.304687 13.949219-3.882813l127.46875-76.183593 127.421875 76.183593c9.324219 5.609376 21.078125 5.097657 29.910156-1.304687 8.855469-6.417969 12.992187-17.449219 10.582031-28.09375l-32.9375-145.089844 111.699219-97.941406c8.214844-7.1875 11.351563-18.539063 7.980469-28.925781zm0 0" /></svg>
                    </label>
                    <input class="record-field ratings chk4" data-rating=4 data-id="{{ field.field_id }}" id="star_four" data-attr="{{field.field_type}}" type="checkbox" {% if field.value %}{% if field.value|star_rating_value:'4' %}checked{% endif %}{% endif %} {% if field.required %}required{% endif %}>
                    <label class="star four" for="star_four">
                      <svg viewBox="0 -10 511.98685 511" xmlns="http://www.w3.org/2000/svg"><path d="m510.652344 185.902344c-3.351563-10.367188-12.546875-17.730469-23.425782-18.710938l-147.773437-13.417968-58.433594-136.769532c-4.308593-10.023437-14.121093-16.511718-25.023437-16.511718s-20.714844 6.488281-25.023438 16.535156l-58.433594 136.746094-147.796874 13.417968c-10.859376 1.003906-20.03125 8.34375-23.402344 18.710938-3.371094 10.367187-.257813 21.738281 7.957031 28.90625l111.699219 97.960937-32.9375 145.089844c-2.410156 10.667969 1.730468 21.695313 10.582031 28.09375 4.757813 3.4375 10.324219 5.1875 15.9375 5.1875 4.839844 0 9.640625-1.304687 13.949219-3.882813l127.46875-76.183593 127.421875 76.183593c9.324219 5.609376 21.078125 5.097657 29.910156-1.304687 8.855469-6.417969 12.992187-17.449219 10.582031-28.09375l-32.9375-145.089844 111.699219-97.941406c8.214844-7.1875 11.351563-18.539063 7.980469-28.925781zm0 0" /></svg>
                    </label>
                    <input class="record-field ratings chk5" data-id="{{ field.field_id }}" data-rating=5 id="star_five" data-attr="{{field.field_type}}" type="checkbox" {% if field.value %}{% if field.value|star_rating_value:'5' %}checked{% endif %}{% endif %} {% if field.required %}required{% endif %}>
                    <label class="star five" for="star_five">
                      <svg viewBox="0 -10 511.98685 511" xmlns="http://www.w3.org/2000/svg"><path d="m510.652344 185.902344c-3.351563-10.367188-12.546875-17.730469-23.425782-18.710938l-147.773437-13.417968-58.433594-136.769532c-4.308593-10.023437-14.121093-16.511718-25.023437-16.511718s-20.714844 6.488281-25.023438 16.535156l-58.433594 136.746094-147.796874 13.417968c-10.859376 1.003906-20.03125 8.34375-23.402344 18.710938-3.371094 10.367187-.257813 21.738281 7.957031 28.90625l111.699219 97.960937-32.9375 145.089844c-2.410156 10.667969 1.730468 21.695313 10.582031 28.09375 4.757813 3.4375 10.324219 5.1875 15.9375 5.1875 4.839844 0 9.640625-1.304687 13.949219-3.882813l127.46875-76.183593 127.421875 76.183593c9.324219 5.609376 21.078125 5.097657 29.910156-1.304687 8.855469-6.417969 12.992187-17.449219 10.582031-28.09375l-32.9375-145.089844 111.699219-97.941406c8.214844-7.1875 11.351563-18.539063 7.980469-28.925781zm0 0" /></svg>
                    </label>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Include JS here that does not need template tags -->

<!-- Include JS here that needs template tags -->
<script>
  var total_rating = 0;
  var rating_type = "";
  var rating_id = "";

  $(document).ready(function(){
    $('.ratings').each(function(){
      if ($(this).prop('checked')){
        rating_type = $(this).attr('data-attr');
        rating_id = $(this).attr('data-id');
        total_rating++;
      }
    });
  });

  // this js code is used for increase/decrease rating value
  $(document).on('click', '.ratings', function(){
    total_rating = 0;
    rating_type = $(this).attr('data-attr');
    rating_id = $(this).attr('data-id');

    $('.ratings').each(function(index, element){
      var data_attr_value = element.getAttribute('data-rating');
      $('.chk'+String(data_attr_value)).prop('checked', false);
    });

    const rating_value = $(this).attr('data-rating');
    for (j=1; j<=rating_value; j++)
    {
      $('.chk'+String(j)).prop('checked', true);
      total_rating++;
    }
  });

  $('.record-field').on('focusin', function(){
    $(this).removeClass('border-danger');
  });

  // return true or false.
  function validateUrl(urlValue)
  {
    var url_value = urlValue.value;
    var urlregex = new RegExp(
            "^(http:\/\/www.|https:\/\/www.|ftp:\/\/www.|www.){1}([0-9A-Za-z]+\.)");
    if (urlregex.test(url_value) === false){
      urlValue.value = "";
    }
  };

function saveRecord() {
  tinyMCE.triggerSave();
    // Get the values from the form
    var field_values = [];
    var submit = 0;
    var required = 0;

    $(".record-field").each(function(){
      field = {};
      var get_field_type = $(this).attr('data-attr');

      if ($(this).is(':required')){
          required += 1;
          if (get_field_type !== 'rating'){
            if ($(this).val().length !== 0){
              submit += 1;
            }
            else{
              $(this).addClass('border-danger');
            }
          }
          else if (get_field_type === 'rating'){
            if (total_rating > 0){
              submit += 1;
            }
          }
      };

      if (get_field_type !== 'rating'){
        var id = $(this).attr('id').replace("field_","");
        var val = $(this).val();

        field['fieldId'] = id;
        field['fieldValue'] = val;
        field['fieldType'] = get_field_type;

        if (get_field_type === "choose-from-list"){
          var listValue = $(this).find(':selected').data('value');
          if (typeof listValue === "undefined"){
            field['selectListValue'] = false;
          }
          else{
            field['selectListValue'] = listValue;
          }
        }
        field_values.push(field);
      }
      // else if (get_field_type === 'rating'){
      //   console.log('*******************rating');
      //   var id = $(this).attr('id').replace("field_","");
      //   field['fieldId'] = id;
      //   field['fieldValue'] = total_rating;
      //   field['fieldType'] = get_field_type;
      //   field_values.push(field);
      // }
    });

    if (total_rating > 0){
      test = {}
      test['fieldId'] = rating_id;
      test['fieldValue'] = total_rating;
      test['fieldType'] = rating_type;
      field_values.push(test);
    }

    const data = {
      'field_values': JSON.stringify(field_values),
      'csrfmiddlewaretoken': window.CSRF_TOKEN // from index.html
    };
    function randomstr(length) {
   var result           = '';
   var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
   var charactersLength = characters.length;

   for ( var i = 0; i < length; i++ ) {
      result += characters.charAt(Math.floor(Math.random() * charactersLength));
   }

   return result;
}
    const record = "{{ record | safe }}";
    if (record) {
      data.record_id = record ;
    }
    var record_form = $('#record_form');

    console.log(data);

    if (submit === required){
      $.ajax({
        type: "POST",
        dataType: 'json',
        url: "{% url 'save_record' organization_pk=organization.pk app_pk=app.pk list_pk=list.pk %}",
        data: data,
        success: function(data) {
          if (data.success) {
            window.location.href = "{% url 'list' organization_pk=organization.pk app_pk=app.pk list_pk=list.pk %}";
              // Go to the record page here
          } else {
            alert("There was an error, please try again!");
          }
        },
        error: function(xhr, status, error) {
          console.log(xhr, status, error);
          // shit happens friends!
        }
      });
    }
  };

</script>
