{% load custom_tags %}
{% if records %}
<div class="row">

  {% for record in records %}
    <div id="record-{{record.pk}}" class="col-lg-12 mb-4">
      <div class="card card-header-actions lift lift-sm h-100">
          <div class="card-header bg-white">
              <a href="javascript:void(0);" onclick="getPage('{% url 'record' organization_pk=organization.pk app_pk=app.pk list_pk=list.pk record_pk=record.pk %}');">
                {{ record.primary_field.value }}
              </a>
              <div class="dropdown no-caret">
                  <button class="btn btn-transparent-dark btn-icon dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-bars"></i></button>
                  <div class="dropdown-menu dropdown-menu-right animated--fade-in-up" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="{% url 'edit_record' organization_pk=organization.pk app_pk=app.pk list_pk=list.pk record_pk=record.pk %}">
                          <div class="dropdown-item-icon"><i class="text-gray-500" data-feather="list"></i></div>
                          Edit Record
                      </a>
                      <button data-toggle="modal" data-target="#archive_record_{{record.id}}" class="dropdown-item" href="{% url 'archive_record' organization_pk=organization.pk app_pk=app.pk list_pk=list.pk record_pk=record.pk %}">
                     <div class="dropdown-item-icon"><i class="text-gray-500" data-feather="list"></i></div>
                     Archive Record
                  </button>
                  </div>
              </div>
          </div>
          
          {% if record.record_fields|length > 1 %}
          <div class="card-body">
            {% for field in record.record_fields %}
              {% if field.list_field.visible and field.list_field.primary is False %}
                {% if field.list_field.field_type == "choose-from-list" %}
                <p><b>{{ field.list_field.field_label }}:</b>
                  {% if field.selected_record.status == 'active' %}
                  <a href="{% url 'record' organization_pk=organization.pk app_pk=app.pk list_pk=list.pk record_pk=field.selected_record.pk %}">
                    <span class="badge badge-primary p-2">{{ field.selected_record.primary_field.value }}
                    </span>
                  </a>
                  {% endif %}
                </p>
                {% elif field.list_field.field_type == "url" %}
                  <p><b>{{ field.list_field.field_label }}:</b> <a href="{{ field.value }}" target="_blank">{{ field.value }}</a></p>
                {% elif field.list_field.field_type == "rating" %}
                <p><b>{{ field.list_field.field_label }}:</b>
                  <div class="rating-show">
                    {% for i in field.value|get_range %}
                      <svg class="active" viewBox="0 -10 511.98685 511" xmlns="http://www.w3.org/2000/svg"><path d="m510.652344 185.902344c-3.351563-10.367188-12.546875-17.730469-23.425782-18.710938l-147.773437-13.417968-58.433594-136.769532c-4.308593-10.023437-14.121093-16.511718-25.023437-16.511718s-20.714844 6.488281-25.023438 16.535156l-58.433594 136.746094-147.796874 13.417968c-10.859376 1.003906-20.03125 8.34375-23.402344 18.710938-3.371094 10.367187-.257813 21.738281 7.957031 28.90625l111.699219 97.960937-32.9375 145.089844c-2.410156 10.667969 1.730468 21.695313 10.582031 28.09375 4.757813 3.4375 10.324219 5.1875 15.9375 5.1875 4.839844 0 9.640625-1.304687 13.949219-3.882813l127.46875-76.183593 127.421875 76.183593c9.324219 5.609376 21.078125 5.097657 29.910156-1.304687 8.855469-6.417969 12.992187-17.449219 10.582031-28.09375l-32.9375-145.089844 111.699219-97.941406c8.214844-7.1875 11.351563-18.539063 7.980469-28.925781zm0 0" /></svg>
                    {% endfor %}
                    {% for i in field.value|get_range_other %}
                      <svg viewBox="0 -10 511.98685 511" xmlns="http://www.w3.org/2000/svg"><path d="m510.652344 185.902344c-3.351563-10.367188-12.546875-17.730469-23.425782-18.710938l-147.773437-13.417968-58.433594-136.769532c-4.308593-10.023437-14.121093-16.511718-25.023437-16.511718s-20.714844 6.488281-25.023438 16.535156l-58.433594 136.746094-147.796874 13.417968c-10.859376 1.003906-20.03125 8.34375-23.402344 18.710938-3.371094 10.367187-.257813 21.738281 7.957031 28.90625l111.699219 97.960937-32.9375 145.089844c-2.410156 10.667969 1.730468 21.695313 10.582031 28.09375 4.757813 3.4375 10.324219 5.1875 15.9375 5.1875 4.839844 0 9.640625-1.304687 13.949219-3.882813l127.46875-76.183593 127.421875 76.183593c9.324219 5.609376 21.078125 5.097657 29.910156-1.304687 8.855469-6.417969 12.992187-17.449219 10.582031-28.09375l-32.9375-145.089844 111.699219-97.941406c8.214844-7.1875 11.351563-18.539063 7.980469-28.925781zm0 0" /></svg>
                    {% endfor %}
                  </div>
                </p>
                {% else %}
                  <p><b>{{ field.list_field.field_label }}:</b> {{ field.value|safe }}</p>
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
          {% endif %}
      </div>
    </div>
    <div class="modal fade" id="archive_record_{{record.id}}" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Are you sure that you want to Archive {{record.list}}?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            
            <div class="modal-footer"><span class="btn btn-primary archive-record" data-record-id="{{record.pk}}" type="button" data-dismiss="modal" href="{% url 'archive_record' organization_pk=organization.pk app_pk=app.pk list_pk=list.pk record_pk=record.pk %}" data-content-id="{{file.id}}">Archive</span><span class="btn btn-light" type="button" data-dismiss="modal">No</span></div>
         </div>
         </div>
         </div>
  {% endfor %}


</div>

<br/>
<div class="float-left">Display 
<a class="btn-link p-3" style="border-radius:5px" id="perpage-10" class="per_page">10</a>
<a  class="btn-link p-3" style="border-radius:5px" id="perpage-25" class="per_page">25</a>
<a  class="btn-link  p-3" style="border-radius:5px" id="perpage-50" class="per_page">50</a>
<a  class="btn-link p-3" style="border-radius:5px" id="perpage-100" class="per_page">100</a>
<br/><br/>
</div>
{% if records.has_other_pages %}
  <ul class="float-right pagination">
    {% if records.has_previous %}
      <li style="border-radius:5px;"  class="btn-link p-3"><a class="pagi"  data-number="{{ records.previous_page_number }}" >&laquo; </a></li>
    {% else %}
      <li style="border-radius:5px;"  class="btn-link p-3 disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in records.paginator.page_range %}
    {% if records.number|add:"1" < i < records.number|add:"2"   %}
      {% if records.number == i %}
        <li style="border-radius:5px;" class="active btn-primary text-white p-3"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li style="border-radius:5px;"  class="btn-link p-3"><a  class="pagi" data-number="{{ i }}" >{{ i }}</a></li>
      {% endif %}
      {% endif %}
    {% endfor %}
    {% if records.has_next %}
      <li style="border-radius:5px;"  class="btn-link p-3"><a  class="pagi" data-number="{{ records.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li style="border-radius:5px;"  class="btn-link p-3 disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
{% else %}
<div class="row">
  <div class="col-lg-12">
    <p>No records to display</p>
  <div>
</div>
{% endif %}
<script>
$(document).ready(function() {
  function ArchiveRecord(){
        $('.archive-record').on('click',function(ev){
           ev.preventDefault();
           var archive_url = $(this).attr('href');
           var record_id=$(this).attr('data-record-id');
           $.get(archive_url,function(data){
                 console.log(data);
                 var record = $('#record-'+record_id);
                 record.remove();
              });
               }
           );
        }
        ArchiveRecord();

        function updateURLParameter(url, param, paramVal){
    var newAdditionalURL = "";
    var tempArray = url.split("?");
    var baseURL = tempArray[0];
    var additionalURL = tempArray[1];
    var temp = "";
    if (additionalURL) {
        tempArray = additionalURL.split("&");
        for (var i=0; i<tempArray.length; i++){
            if(tempArray[i].split('=')[0] != param){
                newAdditionalURL += temp + tempArray[i];
                temp = "&";
            }
        }
    }

    var rows_txt = temp + "" + param + "=" + paramVal;
    return baseURL + "?" + newAdditionalURL + rows_txt;
}

      function perpage(perpage){
      var item = $('#perpage-'+perpage);
      var  url = window.location.href ;
      var url_string = new URL(url);
      var perpagevalue = url_string.searchParams.get("per_page");
      if(perpagevalue == undefined){
        $('#perpage-10').addClass('btn-primary');
        $('#perpage-10').addClass('text-white');

        }else{
          if(item.html() == perpagevalue){
        item.addClass('btn-primary');
        item.addClass('text-white');
      }
        }
      
      if (url.includes("?")){
        if(url.includes("per_page")){
          var href = window.location.href ;
          href=updateURLParameter(url, "per_page", item.html());
          console.log(href);
          item.attr('href',href);
        }else{
        var  href = url + '&per_page='+ item.html();
        console.log(href);
        item.attr('href',href);
        }
      }else{
        
          var href = url + '?per_page='+ item.html();
          console.log(href);
          item.attr('href',href);
        }
        item.on('click',function(ev){
           ev.preventDefault();
           var url = item.attr('href');
           getPage(url); 
               });
      };
      perpage(10); perpage(25);
      perpage(50); perpage(100);

      
        var item = $('.pagi');
        var  url = window.location.href ;
        var url_string = new URL(url);
        var pagination = url_string.searchParams.get("page");
       item.on('ready', function(ev) {
       if (url.includes("?")){
        if(url.includes("page")){
          var href = window.location.href ;
          href=updateURLParameter(url, "page", item.attr('data-number'));
          console.log(href);
          item.attr('href',href);
        }else{
        var  href = url + '&page='+ item.attr('data-number');
        console.log(href);
        item.attr('href',href);
        }
      }else{
        
          var href = url + '?page='+ item.attr('data-number');
          console.log(href);
          item.attr('href',href);
        }
       });
        item.on('click',function(ev){
           ev.preventDefault();
           var url = item.attr('href');
           getPage(url); 
               });
    
      


});



</script>
