
<div id="records-list">
  {% include "home/records-list.html" %}
</div>
<script>
function ArchiveRecord(){
        $('.archive-record').on('click',function(ev){
           ev.preventDefault();
           var archive_url = $(this).attr('href');
           var record_id=$(this).attr('data-record-detail-id');
           $.get(archive_url,function(data){
                 console.log(data);
                 var record = $('#record-title-'+record_id);
                 record.append('<span class="text-muted"> (Archived) </span>')
              });
               }
           );
         }
        ArchiveRecord();

</script>