<div class="row">
  <div class="col-xl-12">
    <form class="form-horizontal" id="form-container" method="POST">
        {% csrf_token %}
        <div class="card card-header-actions form-row mb-3">
          <div class="card-body">
            <div class="row mb-3 mt-3">
              <div class="col-12">
                  <div class="input-group">
                      {{task_form.task}}
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
          </div>
        </div>
        <div class="offset-10 col-2 mt-3">
            <button type="submit" class="btn btn-block btn-primary">
              {% if task_type == 'edit' %}
              Update Task
              {% else %}
              Add Task
              {% endif %}
            </button>
        </div>
    </form>
  </div>
  {% for task in tasks %}
    <div class="card col-xl-12 mt-3">
      <div class="card-body">
        <h6 class="card-title text-justify">{{task.task}}</h6>
        <hr>
        <div class="text-right">
          <a href="{% url 'remove_mark_complete_task' organization_pk=organization.pk app_pk=app.pk list_pk=list.pk record_pk=record.pk task_pk=task.pk task_kind='remove' move_to='individual' %}" style="text-decoration: none;">Remove</a>
          <a href="{% url 'edit_task' organization_pk=organization.pk app_pk=app.pk list_pk=list.pk record_pk=record.pk task_pk=task.id %}" class="ml-5" style="text-decoration: none;">Edit</a>
          <a href="{% url 'remove_mark_complete_task' organization_pk=organization.pk app_pk=app.pk list_pk=list.pk record_pk=record.pk task_pk=task.pk task_kind='complete' move_to='individual' %}" class="ml-5" style="text-decoration: none;">Mark Complete</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
