{% load static %}
<header class="page-header page-header-light bg-white pb-10">
  <div class="container">
      <div class="page-header-content pt-4">
          <div class="row align-items-center justify-content-between">
              <div class="col-auto mt-4">
                  <h1 class="page-header-title">
                    Tasks
                  </h1>
              </div>
              <div class="col-12 col-xl-auto mb-3">
                <!-- <div class="page-header-subtitle"><a href="">Add new task</a></div> -->
              </div>
              {% for task in all_tasks %}
                <div class="card col-xl-12 mt-3">
                  <div class="card-body">
                    <h6 class="card-title text-justify">{{task.task}}</h6>
                    <span class="badge rounded-pill bg-primary text-white px-3 py-2" style="font-size: 15px;">{{task.record.primary_field.value.title}}</span>
                    <hr>
                    <div class="text-right">
                      <a href="{% url 'remove_mark_complete_task' organization_pk=organization.pk app_pk=app.pk list_pk=task.record.list.pk record_pk=task.record.pk task_pk=task.pk task_kind='remove' move_to='all' %}" style="text-decoration: none;">Remove</a>
                      <a href="{% url 'edit_task' organization_pk=organization.pk app_pk=app.pk list_pk=task.record.list.pk record_pk=task.record.pk task_pk=task.id %}" class="ml-5" style="text-decoration: none;">Edit</a>
                      <a href="{% url 'remove_mark_complete_task' organization_pk=organization.pk app_pk=app.pk list_pk=task.record.list.pk record_pk=task.record.pk task_pk=task.pk task_kind='complete' move_to='all' %}" class="ml-5" style="text-decoration: none;">Mark Complete</a>
                    </div>
                  </div>
                </div>
              {% endfor %}
          </div>
      </div>
  </div>
</header>
<!-- Main page content-->
<div class="container bg-white mt-n10">
  
</div>
