# Text backup files
*.bak

# Database
*.sqlite3

*.pyc
.DS_Store
*.swp
/venv/
/env/
/static/
/media/
.env

# local DB credentials
/core/settings/config.py

# migration file and pycache files
**/migrations/*
__pycache__/
