{% extends "home/layouts/layout-no-side-nav.html" %}
{% load static %}

{% block title %}
    OneTable - Login
{% endblock %}

{% block headername %}
  OneTable
{% endblock %}

{% block headerlink %}
  {% url 'home' %}
{% endblock %}

{% block header %}
  {% include 'home/layouts/component-header-home.html' %}
{% endblock %}

{% block bodyclass %}
  class="bg-grey"
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-5 col-lg-6 col-md-8 col-sm-11">
        <div class="h1 sign-up-header mt-5">Log In</div>
          <div class="card">
              <div class="card-body px-5">
                  <div class="form-group">
                    <form method="post" action="{% url 'login' %}">
                      {% csrf_token %}
                      {{ form.as_p }}
                      <button class="btn btn-primary btn-block">Login</button>
                    </form>
                    <div class="small pt-3 text-center">
                      New user?
                      <a href="{% url 'register' %}">Create an account!</a>
                    </div>
                    <div class="small text-center">
                      Forgot your password or account detail?
                      <a href="{% url 'reset_password' %}">Reset your password</a>
                    </div>
                  </div>
                  {% if form.errors %}
                    <p>Your username and password didn't match. Please try again.</p>
                  {% endif %}
              </div>
              <hr class="bottom-line">
          </div>
      </div>
    </div>
  </div>
{% endblock %}
