{% extends "home/layouts/layout-no-side-nav.html" %}
{% load static %}

{% block title %}
    OneTable - Set New Password
{% endblock %}

{% block headername %}
  OneTable
{% endblock %}

{% block headerlink %}
  {% url 'home' %}
{% endblock %}

{% block header %}
  {% include 'home/layouts/component-header-home.html' %}
{% endblock %}

{% block bodyclass %}
  class="bg-grey"
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-5 col-lg-6 col-md-8 col-sm-11 mt-5">
          <div class="card mt-5">
              <div class="card-body pt-5">
                  <div class="h1 font-weight-bolder text-center">Set New Password</div>
              </div>
              <div class="card-body">
                  <div class="form-group">
                    <form method="post" action="{% url 'create_new_password' %}">
                      {% csrf_token %}
                      <input type="hidden" name="user_id" value="{{user.pk}}">
                      {{ form.as_p }}
                      <button class="btn btn-primary btn-block">Update Password</button>
                    </form>
                  </div>
              </div>
              <hr class="bottom-line">
          </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extrajs %}
<script>
  /* js code for add the eye icon in the password field */
  $(document).ready(function(){
    $('input[type=password]').parent('p').addClass('password-div');
    $('.password-div').append('<button class="eye-btn" type="button"><i class="fas fa-eye password-visible password-toggle"></i><i class="fas fa-eye-slash password-hide password-toggle"></i></button>');
  });

  /* js code for hide/show password */
  $(document).on('click', '.password-toggle', function(e){
    const input_id = $(this).parent('button').siblings('input').attr('id');
    const password = document.querySelector('#'+input_id);
    const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
    password.setAttribute('type', type);
  });
</script>
{% endblock %}