{% extends "home/layouts/layout-no-side-nav.html" %}
{% load static %}

{% block title %}
    OneTable - Reset Password
{% endblock %}

{% block headername %}
  OneTable
{% endblock %}

{% block headerlink %}
  {% url 'home' %}
{% endblock %}

{% block header %}
  {% include 'home/layouts/component-header-home.html' %}
{% endblock %}

{% block bodyclass %}
  class="bg-grey"
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-5 col-lg-6 col-md-8 col-sm-11">
          <!-- Social login form-->
          <div class="h1 mt-5 sign-up-header">
            Reset Your Password
          </div>
          <div class="card mt-4">
              <div class="card-body pt-5">
                  <div class="h3 font-weight-light">Enter your email below and we'll send you a password reset link.</div>
              </div>
              <div class="card-body">
                  <!-- Login form-->
                  <div class="form-group">
                    <form method="post" action="{% url 'reset_password' %}">
                      {% csrf_token %}
                      {{ form.as_p }}
                      <button class="btn btn-primary btn-block">Reset Password</button>
                    </form>
                    <div class="small pt-3">
                      Forgot your account email?
                      <a href="javascript:void(0);">Contact support</a>
                    </div>
                  </div>
              </div>
              <hr class="bottom-line">
          </div>
      </div>
    </div>
  </div>
{% endblock %}
